fieldset {
  font-size: 16px;
  padding: 18px 30px 20px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  box-shadow: 0 1px 3px #00000040;
  position: relative;
}
legend {
  font-size: 16px;
  width: auto;
  padding: 6px 20px;
  border: 1px solid #cccccc;
  background: #ffffff;
  font-weight: 600;
}
