.screenBox {
  margin-bottom: 10px;
}
.checkbox-container {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  margin-bottom: 8px;
}
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox-container .custom-checkmark {
  height: 24px;
  width: 24px;
  margin-right: 10px;
  border: 1px solid #06925594;
  border-radius: 5px;
  position: relative;
}
.checkbox-container:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox-container input:checked ~ .custom-checkmark {
  background-color: #06925594;
}
.checkbox-container input:checked ~ .custom-checkmark:after {
  display: block;
}
.checkbox-container .custom-checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.pageBox {
  margin: 8px 0px 0px 30px;
  display: block;
}
.pageBox img {
  width: 30px;
  height: 30px;
}

